// import mixins
@use "../helpers/mixins" as *;

.home {
    position: relative;
    
    .home-container {
        width: 90%;
        margin: auto;
        position: relative;
        @include breakpoints(mobile) {
            width: 96%;
        }
        .home-row {
         // mobile screen media  
            @include breakpoints(mobile) {
                flex-direction: column;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
            row-gap: 20px;
            z-index: 22;
            margin: 20px 10px;

            .products-group {
                background-color: #fff;
                padding: 20px;
                flex-basis: 35%;
                height: 25rem;
                @include breakpoints(mobile) {
                    width: 100%;
                }
                h3 {
                    width: 100%;
                    font-size: 22px;
                    font-weight: 800;
                }

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        margin-bottom: 1rem;
                        width: 100%;
                        height: 18rem;
                    }
                }
            }
        
        }
    }

    .carousel {
        margin-bottom: -200px;
        position: relative;
        z-index: -0;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0,));
    
        .home-image {
            // mobile screen media  
            @include breakpoints(mobile) {
                margin-bottom: -60px;
                height: 500px;
            }
            height: 700px;
            width: 100%;
        }
    }
}




