// import colors vaiables
@use "../vaiables/colors" as *;
// import mixins
@use "../helpers/mixins" as *;

.login-logo {
    width: 200px;
    color: black;
    margin-top: 40px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: 100vh;

    .arrow {
        position: absolute;
        z-index: 22;
        right: 30px;
        top: 30px;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
        width: 35px;
        height: 40px;
    }

    .err-container {
            width: 240px;
            height: 100px;
            border: 1px solid indianred;
            border-radius: 6px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            font-size: 18px;
            font-weight: 800;
            color: indianred;
            box-shadow: inset 0px 0px 4px 1px #c5282845;
        .err-message {
            color: indianred;
            font-size: 13px;
            font-weight: 600;
            margin-top: 10px;
        }
    }

    .login-container {
        background-color: #fff;
        box-shadow: 0 0 20px #ddd;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        max-width: 350px;
        @include breakpoints(mobile) {
            padding: 15px;
            width: 80%;
            max-height: 480px;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 100%;


            label {
                text-align: left;
                margin-top: 10px;
                font-size: 14px;
            }

            input {
                padding: 7px;
                margin-bottom: 10px;
                outline: $amazon-collor;
                font-size: 14px;
                @include breakpoints(mobile) {
                    padding:  5px;
                    margin: 0;
                    font-size: 13px;
                }
            }

            button {
                margin-top: 10px;
                padding: 4px 0;
                font-weight: 600;
                font-size: 14px;
            }
        }

        p {
            text-align: left;
            font-size: 14px;
        }
         a {
            text-decoration: underline;
            color: rgb(13, 13, 169);
            cursor: pointer;
         }
        span {
            margin: 20px 0 0;
            display: block;
            font-size: 13px;
            color: rgb(50, 50, 50);
            border-bottom: 1px solid #ddd;
            width: 100%;
            padding: 0 0 5px;
        }

        .create-btn {
            border: 1px solid #999;
            font-size: 13px;
            border-radius: 4px;
            margin-top: 20px;
            width: 100%;
            padding: 6px;
            font-weight: 600;
            cursor: pointer;
        }

    }

}